<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="Tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnPhpunitDeprecation="true"
         failOnPhpunitNotice="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnAllIssues="true"
>
    <testsuites>
        <testsuite name="PushBundle test suite">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>Resources</directory>
            <directory>Tests</directory>
            <directory>vendor</directory>
        </exclude>
    </source>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>
</phpunit>
